api-gateway/node_modules
api-gateway/nginx

orders/node_modules
orders/.env

users/node_modules
users/.env

products/node_modules
products/.env

carts/node_modules
carts/.env


payment/node_modules
payment/.env
payment/bkash/Bkash.js


database/**
frontend/node_modules


node_modules