



@mixin getDown($size){
  @media screen and (max-width: #{$size}) {
    @content
  }
}

.container {
  max-width: 1200px !important;
  margin: auto;
  box-sizing: border-box;
}

header {
  background: #111111;
  padding: 6px 30px;
  box-shadow: 0 5px 8px 0 #0d0d0d;
  margin-bottom: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
}

.header-space {
  height: 90px;
}

.card {
  background: #2f2f2f;
  padding: 20px;
}

table {

  width: 100%;

  thead {
    tr {
      th {
        text-align: start;
      }
    }
  }
}

input, textarea, select {
  background: transparent !important;
  border: 1px solid #f77216 ;
  padding: 6px 8px !important;
  width: 100%;
  outline: none;
  margin-bottom: 10px !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

input[type=color]{
  padding: 0 !important;
  outline: none !important;
  height: 38px !important;

}

input[type=checkbox]{
  padding: 0;
  outline: none;
  width: 0 !important;
  height: 0 !important;
  margin: 0px !important;
  position: relative !important;
  appearance: none!important;
  border: none !important;
  &:before{
    content: "";
    border: 1px solid #f77216;
    background: transparent;
    position: absolute;
    left: 50%;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  &:checked{
    &:before{
      content: "";
      border: 1px solid #f77216;
      background: #f77216;
    }
  }
}

button {
  display: block;
  background: #f77216 !important;
  border: 1px solid #f77216 !important;
  padding: 6px 10px !important;
}

select {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 1);

  option {
    background: #383838;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
}

.homepage, .dashboard {
  display: flex;
  column-gap: 20px;


  & > div:nth-child(1) {
    width: 400px;
    background: #313131;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;

    @include getDown(860px){
      display: none;
    }


  }

  & > div:nth-child(2) {
    width: 100%;
    box-sizing: border-box;
  }
}

.p-card{
  background: #1d1d1d;
  border-radius: 5px;
  //overflow: hidden;
  img{
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    //height: 100%;
    object-fit: contain;
  }

  .p-card-content{
    padding: 16px;
  }
}


.detail-page-wrapper{
  @apply grid grid-cols-12 gap-x-4;



  & > div{
    &:nth-child(1){
      //background: #d7d7d7;
      grid-column: 1/5;


      .preview-image{
        max-width: 400px;
        margin: auto;
      }

    }
    &:nth-child(2){
      //background: red;
      grid-column: 5/-1;
    }
  }

}