#root {

}


.container {
  max-width: 1200px;
  margin: auto;
}

header {
  background: #111111;
  padding: 6px 30px;
  box-shadow: 0 5px 8px 0 #0d0d0d;
  margin-bottom: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.header-space {
  height: 90px;
}

.card {
  background: #2f2f2f;
  padding: 20px;
}

table {

  width: 100%;

  thead {
    tr {
      th {
        text-align: start;
      }
    }
  }
}


input, textarea, select {
  background: transparent;
  border: 1px solid #f77216;
  padding: 10px 8px;
  width: 100%;
  outline: none;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

input[type=color]{
  padding: 0;
  outline: none;
  height: 38px;
}

button {
  display: block;
  background: #f77216;
  border: 1px solid #f77216;
  padding: 10px 16px;
}


select {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 1);

  option {
    background: #383838;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
}

.homepage, .dashboard {
  display: flex;
  column-gap: 20px;


  & > div:nth-child(1) {
    width: 400px;
    background: #313131;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
  }

  & > div:nth-child(2) {
    width: 100%;
    box-sizing: border-box;
  }
}